@page "/startups"
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                
                <th>Keywords</th>
                <th>Team</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts.Skip(100).Take(10))
            {
                <tr>
                  
                    <td>@forecast.Keywords</td>
                    <td>@forecast.Team</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("http://localhost:5048/weatherforecast");
    }

    public class WeatherForecast
    {
        

        public string? Keywords { get; set; }
        public int Team { get; set; }

        
    }
}
